

# IDE
.idea/
.vscode/
*.swp


# Captured face images
captures/

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Models (dung lượng lớn, nên tự tải xuống trên Pi)
*.onnx
*.pt
*.data
*.zip
*.rar
*.7z
*.tar
*.gz

# Benchmarks data
benchmarks/data_benchmark/
dataset_clean/
data_faces/
VN-celeb/ 
VN-celeb-clean/ 
data_faces/ 
dataset_clean/ 
VN-celeb/ 
VN-celeb-clean/ 
data_faces/ 
dataset_clean/ 
