opencv-python>=4.8.0
numpy>=1.24
fastapi>=0.100.0
uvicorn>=0.23.0
jinja2>=3.1
python-multipart>=0.0.6
pydantic>=2.0
bcrypt>=4.0
itsdangerous>=2.1
onnxruntime>=1.16.0
scikit-image>=0.21.0
# KHÔNG đưa PyQt5 vào đây vì trên Raspberry Pi bắt buộc phải cài qua lệnh apt-get (sudo apt install python3-pyqt5) để tránh lỗi biên dịch.
